[Desktop Entry]
Name=SpeechControl
Exec=speechcontrol-qt %i -caption "%c"
Icon=/usr/share/icons/speechcontrol.png
Type=Application
GenericName=Speech Recognition Utility
Comment="A Speech recognition utility for Linux"
Categories=Utility;Accessibility;System;Qt;
StartupNotify=true
Terminal=false
X-AppInstall-Package=speechcontrol-qt
